/* You can add global styles to this file, and also import other style files */
body{font-family: Arial, Helvetica, sans-serif;}
ul{list-style-type: none;}

button{
    margin-left: 5px;
    background-color: white;
    color: black;
    border: 1px solid #555555;
    border-radius: 10px;    
    text-align: center;
    text-decoration: none;
    display: inline-block;    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
button:hover{background-color: #555555;color: white;}

input[type="text"]{
    /* Clear the user's operating system's theme */
    -webkit-appearance: none;
    -moz-appearance: none;

    /* Apply own styles */
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1em;

    width: 95%;
    height: 2em;
}
input[type="text"]:focus{border: 1px solid #0094ff;box-shadow: 0 0 5px #0094ff;}
input[type="checkbox"]{width: 1.3em;height: 1.3em;position: relative;}

.app{width: 26em;}

app-root > div > p {font-size: 2em;font-weight: bold;text-align: center;}
app-todoform > input {padding-left: 0.5em;padding-right: 0.5em;}
app-todolist > div > div > ul > li > span > span {text-decoration: line-through; color: #999999;}
app-todolist > div > div > span > button {padding: 0.5em; border-radius: 20px;}
app-todolist > div > div > p {font-weight: bold;}