.mainArea{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 721px;
    background-color: aquamarine;
}

.pending{
    color:gray;
}
.basarili{
    color:green
}
.incorrect{
    color:red;
    font-weight: bold;
}